<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://kit.fontawesome.com/f8e31c005b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Social Sniffers</title>

</head>
<header class="hero is-success"> 
<div class="hero-body has-text-centered">
  <h1 class="title has-text-centered">
  <a class="link is-info">
   <span class="icon-text">
    <span class="icon">
  <i class="fas fa-paw" style="color: #f7f8f8;"></i>  
    </span>
    <span>Social Sniffers</span>
    </span>
    </a>
   </h1>
   <h2 class="subtitle has-text-centered">Come Play With Us</h2>
 

        </div>   
    </header>

  <nav class="level">
  <p class="level-item has-text-centered">
    <a class="link is-info">
    <span class="icon-text">
    <span class="icon">
    <i class="fas fa-home"></i>
    </span>
  <span>Home</span>
</span>
   </a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info">
      <span class="icon-text">
      <span class="icon">
      <i class="fas fa-dog"></i>
      </span>
    <span>Find A Dog Date</span>
    </span> 
    </a>
  </p>

  <p class="level-item has-text-centered">
    <a class="link is-info">
    <span class="icon-text">
    <span class="icon">
    <i class="fas fa-sign-in-alt"></i>
    </span>
    <span>Login</span>
    </span>
      </a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info">
    <span class="icon-text">
    <span class="icon">
  <i class="fas fa-id-card"></i>
    </span>
    <span>Contact</span>
    </span>
        </a>
  </p>
</nav>

<body>
    {{{body}}}
  
</body>

<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Social Sniffers</strong> by <a href="https://github.com/AlizaSharma/social-sniffers">Aliza Sharma and Monica Cordova 
      </p>
    </div>
  </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</html>

