<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Sniffers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
 <header class="hero is-primary"> 
        <div class="hero-body has-text-centered">
            <p class="title">Social Sniffers</p>
            <p class="subtitle">The place to find your doggo a playdate</p>
        </div>      
    </header>
<div class="navbar-menu">
            <div class="navbar-start">
                 <a class="navbar-item" href="#home">Home</a>
                <a class="navbar-item" href="#login">Login</a>
                <a class="navbar-item" href="#logout">Logout</a>
                <a class="navbar-item" href="#post">Find a Date</a>
            </div>
    </div>
<body>
    {{{body}}}
  
</body>

<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Social Sniffers</strong> by <a href="https://github.com/AlizaSharma/social-sniffers">Aliza Sharma and Monica Cordova 
      </p>
    </div>
  </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="./assets/scripts/script.js"></script>
</html>

