<section class="section">
<div class="card">
<div class="card-content has-text-centered">
    <h1 class="title">Contact Us</h1>
    <p>Email: contact@socialsniffers.com</p>
    <p>Phone: 210-421-4444</p>
</div>
</div>
</section>




