<section class="section">

  <div class="tile is-ancestor">
    <div class="tile is-half is-vertical is-parent">
      <form class="newpost-form">
        <div class="tile is-child box">
          <h3 class="title">Find A Dog Date</h3>
          <div class="field">
            <label class="label">Pup Name</label>
            <div class="control">
              <input
                class="input"
                type="textarea"
                placeholder="Text input"
                id="name"
              />
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input
                class="input"
                type="email"
                placeholder="Email input"
                id="email"
              />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>

          </div>

          <div class="field">
            <label class="label">About Your Pup</label>
            <div class="control">
              <textarea
                class="textarea"
                placeholder="Text area"
                id="content"
              ></textarea>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" type="submit">Submit</button>
            </div>
            <div class="control">
              <button
                class="button is-link is-light"
                type="reset"
              >Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>

     {{! where posts populate}}
  <div class="tile is-parent">
    <div class="tile is-child box">
      <h3 class="title">Current Dog Dates</h3>
      {{#if forums.length}}
        {{#each forums}}
          <div>
            <h4>{{name}}</h4>
          </div>
          <div>
            <p>{{content}}</p>
          </div>
          <div>
            <p>{{email}}</p>
          </div>
        {{/each}}
      {{else}}
        <p>No posts yet!</p>
      {{/if}}
    </div>
  </div>
  </div>
</section>

<script src="/js/newPost.js"></script>