<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile">
      <div class="tile is-6 is-parent is-vertical">
        <article class="tile is-child box">
         <h1 class="title">Welcome to Social Sniffers</h1>
         <p> If you've been on the hunt for the perfect playdate finder for your little pup, you're in luck. Social Sniffers is your go to for all things puppy playdates and more.</p>
        </article>
        <article class="tile is-child box">
          <h1 class="title">About Us</h1>
          <p>Aliza and Monica are proud puppy parents who are passionate about all things pups. They know the importance of socializing your pups so they created a platform for all pup parents to do find the perfect playdate for their pups.</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <figure class="image is-256x256">
          <img src="assets/playdate.jpeg">
        </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Pup Dates</p>
      <p class="title">1,235</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Active Users</p>
      <p class="title">125</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Happy Pups</p>
      <p class="title">150</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Sniffer Following</p>
      <p class="title">789</p>
    </div>
  </div>
</nav>
      </article>
    </div>
  </div>
</div>